@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Lustria&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lustria&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@theme {
  --color-dgreen: #308743;
  --color-green: #45A14E;
  --color-blue: #179DA0;
  --color-dblue: #1784A3;
  --color-bg: #d6d7d4;

  --font-head: "Lustria", serif;
  --font-body: "Nunito Sans", sans-serif;
  --font-sub-heading: "Lustria", serif;
}

.section {
  @apply max-w-screen-2xl mx-auto px-4 lg:px-6 py-24 ;
}
.section-title{
  @apply text-dgreen text-xl md:text-2xl lg:text-4xl font-head font-semibold my-10 
}


body{
  font-family: var(--font-body);
}
html {
  scroll-behavior: smooth;
}