@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Lustria&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lustria&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@theme {
  --color-dgreen: #308743;
  --color-green: #45A14E;
  --color-blue: #179DA0;
  --color-dblue: #1784A3;
  --color-bg: #f4f8fb;

  --font-head: "Lustria", serif;
  --font-body: "Nunito Sans", sans-serif;
  --font-sub-heading: "Lustria", serif;
}

.section {
  @apply max-w-screen-2xl mx-auto px-4 lg:px-6 py-16 ;
}
.section-title{
  @apply text-dgreen text-xl md:text-2xl lg:text-4xl font-head font-semibold my-10 duration-300
}
.paragraph{
  @apply font-sub-heading text-lg md:text-2xl
}


body{
  font-family: var(--font-body);
}
html {
  scroll-behavior: smooth;
}

.section-title {
  --b: 0.1em;  
  --c: green;
  
  color: #0000;
  padding-block: var(--b);
  background: 
    linear-gradient(var(--c) 50%,#179DA0 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
}
section:hover .section-title {
  --_p: 100%;
  --_s: .3s;
}

/* ABOUT START*/
.paragraph b{
  color: var(--color-dgreen);
}
/* ABOUT END */

/* SERICES START */




/* SERVICES END */